<%- include('../partials/head') %>
<body>
	<%- include('../partials/headerSeller') %>
	<main class="main-add-item">
		<h2 class="titulo">¡Agrega un nuevo producto!</h2>
		<form action="/products/add-item" class="formulario" method="POST" enctype="multipart/form-data">
			<div class="input-field">
				<label for="name">Producto:</label>
				<input
					class="text-box"
					type="text"
					name="name"
					id="name"
					placeholder="Nombre del producto"
					minlength="2"
					required
				/>
			</div>
			<div class="select-field input-field">
				<label for="category">Selecciona la categoría:</label>
				<select name="category" class="control" placeholder="Seleccione la categoria" id="category">
					<option value="frutas">Frutas</option>
					<option value="hortalizas">Hortalizas</option>
					<option value="plantas">Plantas</option>
					<option value="granos">Granos</option>
					<option value="semillas">Semillas</option>
				</select>
			</div>
			<div class="input-field">
				<label for="imagefile">Adjunta la imagen del producto: </label>
				<input
					class="text-box"
					type="file"
					name="imagefile"
					id="imagefile"
					placeholder="Adjuntar imagen"
					required
				/>
			</div>

			<div class="input-field">
				<label for="unidad">Precio por unidad:</label>
				<input class="text-box" type="number" name="unidad" id="unidad" placeholder="Precio en pesos" min="0" />
				<label for="kilo">Precio por kilogramo:</label>
				<input class="text-box" type="number" name="kilo" id="kilo" placeholder="Precio en pesos" min="0" />
			</div>
			<div class="select-field input-field">
				<label for="discount">Selecciona un descuento:</label>
				<select name="discount" class="control" placeholder="Seleccione descuento" id="discount">
					<option value="0">0%</option>
					<option value="0.05">5%</option>
					<option value="0.1">10%</option>
					<option value="0.15">15%</option>
					<option value="0.2">20%</option>
					<option value="0.25">25%</option>
					<option value="0.3">30%</option>
					<option value="0.35">35%</option>
				</select>
			</div>
			<div class="select-field input-field">
				<label for="market">Selecciona Mercado campesino:</label>
				<select name="market" class="control" id="market">
					<option value="Carlos E Restrepo">Carlos E Restrepo</option>
					<option value="Poblado">Poblado</option>
					<option value="Ciudad del Río">Ciudad del Río</option>
				</select>
			</div>
			<button type="submit" class="submit">Agregar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
