<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/headerSeller') %>
    </header>
    <main>
        <h2> HOLA SOY EL FORMULARIO DE AGREGAR PRODUCTO</h2>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>