<%- include('../partials/head') %>  
    <body>
        <%- include('../partials/headerSeller') %>  
        <div>
            <h2>editar</h2>
        </div>
        <div>
            <h2>crear</h2>
        </div>
        <%- include('../partials/footer') %>      
    </body>
</html>