<html lang="en">
    <head>
        <%- include('../partials/head') %>  
    </head>
<body>
    <header class="main-header">
        <%- include('../partials/headerSeller') %>  
    </header> 
    <div>
        <h2>editar</h2>
    </div>
    <div>
        <h2>crear</h2>
    </div>
    <footer class="main-footer">
        <%- include('../partials/footer') %>      
    </footer> 
</body>
</html>