<%- include('../partials/head') %>
<body>
	<%- include('../partials/headerSeller') %>
	<main class="main-add-item">
		<h2 class="titulo">Edita este producto</h2>
		<form action="/index.html" class="formulario">
			<div class="product-name">
				<label>Producto:</label>
				<input
					class="text-box"
					type="text"
					name="product-name"
					id="product-name"
					placeholder="Nombre del producto"
					minlength="2"
					value="Tomate"
					required
				/>
			</div>
			<div class="form-product-type">
				<label>Selecciona la categoría:</label>
				<select
					name="categoria"
					class="control"
					placeholder="Seleccione la categoria"
				>
					<option value="frutas">Frutas</option>
					<option value="hortalizas">Hortalizas</option>
					<option value="plantas">Plantas</option>
					<option value="granos">Granos</option>
					<option value="semillas">Semillas</option>
				</select>
			</div>
			<div class="add-file">
				<label>Adjunta la imagen del producto: </label>
				<input
					class="text-box"
					type="file"
					name="imagefile"
					id="imagefile"
					placeholder="Adjuntar imagen"
					src="../images/tomato.jfif"
					required
				/>
			</div>

			<div class="price">
				<label>Precio:</label>
				<input
					class="text-box"
					type="number"
					name="price"
					id="price"
					placeholder="Precio en pesos"
					value="1200"
					required
				/>
			</div>
			<div class="form-product-discount">
				<label>Selecciona un descuento:</label>
				<select
					name="discount"
					class="control"
					placeholder="Seleccione descuento"
				>
					<option value="0">0%</option>
					<option value="0.05">5%</option>
					<option value="0.1">10%</option>
					<option value="0.15">15%</option>
					<option value="0.2">20%</option>
					<option value="0.25">25%</option>
					<option value="0.3">30%</option>
					<option value="0.35">35%</option>
				</select>
			</div>
			<div class="form-farmer-location">
				<label>Selecciona Mercado campesino:</label>
				<select
					name="ubicacion"
					class="control"
					placeholder="Seleccione descuento"
				>
					<option value="Carlos E Restrepo">Carlos E Restrepo</option>
					<option value="Poblado">Poblado</option>
					<option value="Ciudad del Río">Ciudad del Río</option>
				</select>
			</div>
			<button type="submit" class="submit">Actualizar</button>
		</form>
	</main>
	<%- include('../partials/footer') %>
</body>
