<%- include('../partials/head') %>
<body>
	<%- include('../partials/header') %>
	<main>
		<h2>Tu carrito de compras</h2>
		<div class="main-shop">
			<div class="shop-left">
				<div class="shopping-list">
					
					<div class="pre-pay-resume">
						<div class="text">
							<p class="pay-items">Items#</p>
							<p class="pay-subtotal">Subtotal$</p>
							<p class="pay-send-cost">Costo de envío$</p>
							<p class="pay-total">Total$</p>
						</div>
						<button type="submit" class="">Pagar</button>
					</div>
				</div>
			</div>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>
