<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>  
</head> 
<body>
        <header class="main-header">
            <%- include('../partials/headerSeller') %>  
        </header> 
    <main>
        <h2>Tu carrito de compras</h2>
        <div class="main-shop">
            <div class="shop-left">
                <div class="shopping-list">
                    <div class="shop-item-information">
                        <img src="/images/zucchini.jfif" alt="">
                        <div class="product-farmer">
                            <p class="product-name">Zucchini</p>
                            <p class="farmer-name">Cultivado por: Ernesto</p>
                        </div>
                        <div class="price-count">
                            <p class= "price">$ 3.000</p>
                            <p class= "count">2 lb</p>
                        </div>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="shop-item-information">
                        <img src="/images/yellowlemon.jfif" alt="">
                        <div class="product-farmer">
                            <p class="product-name">Limón amarillo</p>
                            <p class="farmer-name">Cultivado por: Felicia</p>
                        </div>
                        <div class="price-count">
                            <p class= "price">$ 3.500</p>
                            <p class= "count">1 lb</p>
                        </div>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="shop-item-information">
                        <img src="/images/redonion.jfif" alt="">
                        <div class="product-farmer">
                            <p class="product-name">Cebolla morada</p>
                            <p class="farmer-name">Cultivado por: Fernando</p>
                        </div>
                        <div class="price-count">
                            <p class= "price">$ 2.500</p>
                            <p class= "count">1 lb</p>
                        </div>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                    <div class="pre-pay-resume">
                        <div class="text">
                        <p class= "pay-items">Items#</p>
                        <p class= "pay-subtotal">Subtotal$<p> </p></p>
                        <p class= "pay-send-cost">Costo de envío$<p> </p></p>
                        <p class="pay-total">Total$<p> </p></p>
                        </div>
                        <button type="submit" class="">Pagar</button>
                    </div>
                </div>
                
                <!-- Carrusel de productos -->
                <div class="main-suggest">
                    <h2>No olvides...</h2>
                    <div class="suggest-product-list">
                        <article class="control-article">
                            <img src="/images/pepper.jfif" alt="Pimenton">
                            <p class= "product-name">Pimentón</p>
                            <p Class="price">Desde $1.000</p>
                            <button type="submit" class="">Agregar<i class="fas fa-plus-circle"></i> </button>
                        </article>
                        <article class="control-article">
                            <img src="/images/tomato.jfif" alt="Tomate">
                            <p class= "product-name">Tomates</p>
                            <p Class="price">Desde $700</p>
                            <button type="submit" class="">Agregar<i class="fas fa-plus-circle"></i> </button>
                        </article>
                        <article class="control-article">
                            <img src="/images/mango.jfif" alt="Mango">
                            <p class= "product-name">Mango</p>
                            <p Class="price">Desde $1.500</p>
                            <button type="submit" class="">Agregar<i class="fas fa-plus-circle"></i> </button>
                        </article>
                        <article class="control-article">
                            <img src="/images/lemon.jfif" alt="Limon">
                            <p class= "product-name">Limón</p>
                            <p Class="price">Desde $1.200</p>
                            <button type="submit" class="">Agregar<i class="fas fa-plus-circle"></i> </button>
                        </article>
                    </div>
                </div>
            </div> 
            <!-- Only desktop -->
            <div class="pay-information">
                    <div class="send-pay-information">
                        <h4>Método de envío</h4>
                        <div class="send-options">
                            <label><input type="radio" name="perfil">Recoger en Mercado local</label>
                            <label><input type="radio" name="perfil">Envío a domicilio</label>
                        </div>
                     </div>
                <div class="send-location">
                    <h4>Dirección de entrega</h4>
                    <form action="/envio-domicilio" method="POST" class="form-location">
                            <div class="form-location">
                                <label>Dirección:</label>
                                <input type="text" name="direccion" class="control" placeholder="Escriba la dirección">
                            </div>
                            <div class="form-location">
                                <label>Barrio:</label>
                                <select name="barrio"  class="control" placeholder="Seleccione el barrio" >
                                    <option value="suramericana">Suramericana</option>
                                    <option value="poblado">Poblado</option>
                                    <option value="san javier">San Javier</option>
                                    <option value="floresta">Floresta</option>
                                    <option value="castilla">Castilla</option>
                                </select>
                        </div>
                        <div class="form-location">
                            <label>Casa-Bloque:</label>
                            <input type="text" name="casa-bloque" class="control" placeholder="Número de casa o bloque">
                        </div>
                        <div class="form-location">
                            <label>Notas al pedido:</label>
                            <input type="text" name="notas al pedido" class="notas-control" placeholder="Información importante acerca del pedido">
                        </div>
                    </form>
                </div>
                <div class="pay-options">
                    <h4>Métodos de pago</h4>
                    <div class="pay-options-list">
                        <label><input type="radio" name="pay-options">Transferencia bancaria</label>
                        <label><input type="radio" name="pay-options">Efectivo contraentrega</label>
                        <label><input type="radio" name="pay-options">Pago al recoger</label>
                    </div>
            </div>
            </div>
        </div>  
    </main>
    <footer class="main-footer">
        <%- include('../partials/footer') %>      
    </footer>
</body>
</html>