<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>Header ;-)</title>
</head>
<body>
    <header>
        <div class="headercontent">
            <div class="logo">
                <img src="./images/logoGuavaMarket.jpg" alt="Logo GuavaMarket">
            </div>
            
            <div class="centrales">
                <div class="busqueda">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <nav class="navbar">
                    <section>
                        inicio
                    </section>
                    <section>
                        nuestros productos
                    </section>
                    <section>
                        productores
                    </section>
                    <section>
                        Encuentranos
                    </section>
                </nav>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <div class="formularios">
                <p>regístrate</p>
                <p>Loguéate</p>
            </div>
        </div>
    </header>    
</body>
</html>