<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>LocalMarket site</title>
</head>
<body>
    <header>
        <div class="headercontent">
            <div class="logo">
                <img src="./images/logoGuavaMarket.jpg" alt="Logo GuavaMarket">
                <h2>LocalMarket</h2>
            </div>
            
            <div class="centrales">
                <div class="busqueda">
                    <input class="barra" type="search">
                    <i class="fas fa-search"></i>
                    <div class="centrales-busqueda-carrito">
                        <div class="items">
                            # de ítems
                        </div>
                        <i class="fas fa-shopping-basket"></i>
                        <div class="items">
                           $0.0 
                        </div>
                    </div>
                </div>
                <nav class="navbar">
                    <ul class="navbar-options">
                        <li>Inicio</li>
                        <li>|</li>
                        <li>Productos</li>
                        <li>|</li>
                        <li>Agricultores</li>
                        <li>|</li>
                        <li>Encuéntranos</li>
                    </ul>
                </nav>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <div class="formularios">
                <p>regístrate <i class="fas fa-sign-in-alt"></i></p>
                <p>Loguéate <i class="far fa-id-card"></i> </p>
            </div>
        </div>
    </header>    
</body>
</html>