<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/indexStyle.css">
    <title>LocalMarket site</title>
</head>
<body>
    <header class="main-header">
        <div class="content">
            
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <div class="logo">
                <img src="./images/logolocalmarket.png" alt="Logo LocalMarket">
                <h2>LocalMarket</h2>
            </div>

            <div class="site-search">
                <form class="search-bar">
                    <input class="q" type="search" name="q" placeholder="Busqueda...">
                    <button class="search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="site-shopping">
                <div class="items">
                    #
                </div>
                <a href="/shopping"><i class="fas fa-shopping-basket"></i></a>
                <div class="current-bill">
                    $0.0 
                </div>
            </div>

            <nav class="nav-bar">
                <ul class="options">
                    <li>Inicio</li>
                    <li>|</li>
                    <li>Productos</li>
                    <li>|</li>
                    <li>Agricultores</li>
                    <li>|</li>
                    <li>Encuéntranos</li>
                </ul>
            </nav>
            
            <div class="forms">
                <a class="sign-in">regístrate <i class="fas fa-sign-in-alt"></i></a>
                <a class="log-in">Loguéate <i class="far fa-id-card"></i></a>
            </div>
        </div>
    </header>    
</body>
</html>