*{
    box-sizing: border-box;
}
header{
    background-color: black;
}
 header .headercontent{
    margin: auto;
    padding: auto;
    width: 100%;
    max-width: 1115px;
}
/*
header .headercontent div{
    margin:0%;
} */
header .logo{
    display: inline-block;
    text-align: center;
    width: 30%;
    background-color: #ff9ba0;
}
header .logo img{
    margin: auto;
    width: 30%;
    height: 30%;
}
header .centrales{
    display: inline-block;
    width: 39%;
    background-color: #ff9ba0;
}
header .navbar{
    background-color:#78c3a5;
}
header .busqueda{
    background-color:#FFD164;
}
header .formularios{
    display: inline-block;
    width: 30%;
    background-color: #E1F587;
}

