<div class="social-media">
    <h4>Síguenos en:</h4>
    <a href="/LocalMarketFB"> <i class="fab fa-facebook"></i></a>
    <a href="/LocalMarketInst"><i class="fab fa-instagram"></i></a>
    <a href="/LocalMarketTW"><i class="fab fa-twitter"></i></a>
    <a href="/LocalMarketLinkedIn"><i class="fab fa-linkedin-in"></i></a>
</div>
<div class="banner-interaction">
    <div class="FQA">
        <i class="far fa-question-circle"></i>
        <a href="/preguntas-respuestas-frecuentes.html">Preguntas y respuestas frecuentes</a>
    </div>
    <div class="technical-support">
        <i class="fas fa-wrench"></i>
        <a href="/soporte-tecnico.html">Soporte técnico</a>
    </div>
</div>
<div class="contact-me">
    <h4><i class="fas fa-phone-alt"></i> CONTACTÉNOS</h4>
    <div>
        <i class="fas fa-map-marker-alt"></i>
        Parque Carlos E. Restrepo <br>
        Medellín-Colombia<br>
        Email: localmarket@correo.com
    </div>
    <img src="/images/logolocalmarket.png" alt="Logo LocalMarket">
    <div>Localmarket</div>
    <!-- <a href="/contactanos.html">Contacto</a> -->
</div>