<% for (let i = 0; i < suggest.length; i++) { %>
<a href="/products/detail/<%= suggest[i].id %>">
	<article class="control-article">
		<img src="/images/<%= suggest[i].image%>" alt="<%suggest[i].name%>" />
		<p class="product-name"><%= suggest[i].name%></p>
		<p Class="price">Desde $<%= suggest[i].price.kilo%></p>
		<button type="submit" class="">Agregar<i class="fas fa-plus-circle"></i></button>
	</article>
</a>
<% }%>
