<header class="main-header">
	<div class="content">
		<div class="burger-menu">
			<i class="fas fa-bars"></i>
		</div>

		<div class="logo">
			<a href="/">
				<img src="/images/logolocalmarket.png" alt="Logo LocalMarket" />
				<h2>LocalMarket</h2>
			</a>
		</div>
		<div class="site-search">
			<form class="search-bar">
				<input
					class="q"
					type="search"
					name="q"
					placeholder="Busqueda..."
				/>
				<button class="search">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<a href="../products/shopping-cart"
			><i class="fas fa-shopping-basket"></i
		></a>
		<nav class="nav-bar">
			<ul class="options">
				<a href="/">
					<li class="option">Inicio</li>
				</a>
				<a href="../products/create-edit">
					<li class="option">Mis Productos</li>
				</a>
				<a href="../users/sellerProfile">
					<li class="option">Mi perfil</li>
				</a>
				<a href="../products/detail">
					<li class="option">Productos</li>
				</a>
				<a href="/">
					<li class="option">Agricultores</li>
				</a>
				<a href="/">
					<li class="option">Encuéntranos</li>
				</a>
			</ul>
		</nav>

		<div class="forms">
			<a href="/users/sign-in" class="sign-in"
				>Regístrate <i class="fas fa-sign-in-alt"></i
			></a>
			<a href="/users/login" class="login"
				>Loguéate <i class="far fa-id-card"></i
			></a>
		</div>
	</div>
</header>
