<html lang="en">
    <head>
        <%- include('../partials/head') %>  
    </head>
<body>
    <header class="main-header">
        <%- include('../partials/headerSeller') %>  
    </header> 
    <div class="main-manager">
        <h2>¿Qué deseas hacer hoy?</h2>
    <div class="options-product">
        <a href="#">
            <li class="list-products">Editar perfil</li>
        </a>
        <a href="#">
            <li class="new-product">Ver listado de productos</li>
        </a>
    </div>
    <footer class="main-footer">
        <%- include('../partials/footer') %>      
    </footer>
    </div> 
</body>
</html>
