<%- include('../partials/head') %>
    <body>
        <%- include('../partials/headerSeller') %>
        <div class="main-manager">
            <h2>¿Qué deseas hacer hoy?</h2>
        </div>
        <div class="options-product">
            <a href="#">
                <li class="profile">Editar perfil</li>
            </a>
            <a href="../products/create-edit.ejs">
                <li class="new-product">Mis productos</li>
            </a>
        </div>
        <%- include('../partials/footer') %>
    </body>
</html>