<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
    <body>
        <header class="main-header">
            <%- include('../partials/headerSeller') %>
        </header>
            <div class="main-manager">
                <h2>¿Qué deseas hacer hoy?</h2>
            </div>
            <div class="options-product">
                <a href="#">
                    <li class="profile">Editar perfil</li>
                </a>
                <a href="../products/create-edit.ejs">
                    <li class="new-product">Mis productos</li>
                </a>
            </div>
        <footer class="main-footer">
            <%- include('../partials/footer') %>
        </footer>
    </body>

</html>