<%- include('../partials/head') %>

<body>
	<%- include('../partials/headerSeller') %>
	<main class="profile-seller-main">
		<div class="profile-seller-left">
			<img src="../images/farmer3.jpg" alt="" />
			<p>LocalMarket: Conectando campesinos con sus vecinos</p>
		</div>
		<div class="profile-seller-right">
			<h2>Hola Pedro, <br />
				¿Qué quieres hacer hoy?
			</h2>
			<div>
				<a href="#">
					<i class="fas fa-user-edit"></i> Editar mis datos
				</a>
			</div>
			<div>
				<a href="../products/create-edit">
					<i class="far fa-edit"></i> Ir a mis productos</a
				>
			</div>
		</div>
	</main>
	<%- include('../partials/footer') %>
</body>
